In [ ]:
-- Create the Student table
CREATE TABLE Student (
    ID INT PRIMARY KEY NOT NULL,
    Name VARCHAR(20) NOT NULL,
    Age INT NOT NULL,
    Address VARCHAR(25)
);

-- Insert 5 records into the Student table
INSERT INTO Student (ID, Name, Age, Address)
VALUES
    (1, 'prachi', 21, '123 Main Street, City1'),
    (2, ' Smith', 20, '456 New york, City2'),
    (3, 'Johnson', 22, '789 Punjab, City3'),
    (4, 'Abhishek', 19, '101 Delhi, City4'),
    (5, 'sumit', 23, '202 Mangalore, City5');